
body {
    background-color: aquamarine;
    font-family: 'Poppins', sans-serif;   
}


h1 {
    font-size: 72px;
    text-transform: uppercase;   
    font-weight: 900; 
}
p {
    font-size: 24px;
    font-weight: 400;
}

a {
    font-weight: 400;
    padding: 12px 22px;
    background-color: black;
    color: aliceblue;
    border-radius: 8px;
}

.hero {
    width: 450px;
    padding: 35px 50px;
    padding-top: 30px;
    padding-right: 450px;
    padding-left: 50px;
    padding-bottom: 30px;
    background-color: blue;
    background-image: url(../style/image.jpg);
    background-repeat: no-repeat;
    background-position: bottom right;
    border-radius: 40px;
    

}